@charset "UTF-8";
* {
  outline: none;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #000000;
}

h1 {
  font-weight: 700;
  font-size: 30px;
}

h2 {
  font-weight: 700;
  font-size: 20px;
}

h2.recomended {
  font-size: 30px;
  margin-bottom: 45px;
}

h2.title-of-state {
  font-size: 30px;
  margin-top: 54px;
  margin-bottom: 25px;
}

h2.subtitle-of-state {
  margin: 25px 0;
}

h3 {
  font-weight: 700;
  font-size: 18px;
}

h4 {
  font-weight: 400;
  font-size: 16px;
}

p {
  line-height: 24px;
}

dl,
ol,
ul {
  margin-top: auto;
  margin-bottom: 0;
  padding-left: 0;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.hamburger-menu {
  display: none;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
  z-index: 1;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ef233c;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #f6f6f6;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

.link-on-article {
  color: #ef233c;
  opacity: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

svg {
  fill: #ef233c;
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

header .top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
}

menu {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-items .nav-link {
  color: #000000;
}

.nav-items .nav-link:hover {
  color: #ef233c;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.icons-society {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-society:not(:last-child) {
  margin-right: 10px;
}

.icon-society svg {
  fill: #ef233c;
  width: 30px;
  height: 30px;
}

.input-group {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 180px;
  padding: 10px 15px 8px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.input-group .input-search {
  background-color: transparent;
  border: none;
  width: 87%;
}

.input-group .button-search {
  padding: 0;
  height: 19px;
  width: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.input-group .button-search svg {
  fill: #000;
  margin-right: 5px;
}

.active-link {
  color: #ef233c !important;
}

.main-nav {
  margin: 32px 0;
}

.main-nav .main-nav-item:not(:last-child) {
  border-right: 2px solid #ef233c;
}

.main-nav .main-nav-item:not(:first-child) {
  padding: 0 25px;
}

.main-nav .main-nav-item:first-child {
  padding-right: 25px;
}

.main-nav .main-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav .main-nav-link {
  font-size: 20px;
  font-weight: 700;
}

.main-nav .main-nav-link:hover {
  color: #ef233c !important;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.breadcrumb-item.active {
  color: #ef233c;
}

.breadcrumb-item a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: underline;
}

.breadcrumb {
  margin: 54px 0 20px;
}

.main-slider {
  margin-top: 54px;
  position: relative;
}

.slider-image {
  width: 100%;
}

.main-swipers-buttons {
  position: absolute;
  top: 25%;
  z-index: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 35px;
}

.slider-info {
  width: 100%;
  background: rgba(255, 255, 255, 0.85);
  position: absolute;
  bottom: 0;
  padding: 20px 30px;
}

.slider-info p {
  line-height: 22px;
}

.slider-info .count-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-pagination-main-slider {
  position: absolute;
  bottom: 25px !important;
  width: auto !important;
  left: auto !important;
  right: 30px !important;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  background: none;
  opacity: 1;
  border: 2px solid #ef233c;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #ef233c;
}

.news-block:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.news-block {
  margin: 54px 0;
}

.news-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
}

.news-header .all-article-link {
  border-bottom: 1px solid #0079c2;
  color: #0079c2;
}

.news-header button {
  padding: 4px 20px;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  border-radius: 5px;
  border: none;
  background-color: #ef233c;
}

.news-header h2 {
  padding: 0;
  -webkit-transform: skew(10deg);
          transform: skew(10deg);
  color: #fff;
  line-height: 27px;
  margin-bottom: 0;
}

.news-card {
  margin-bottom: 50px;
}

.news-card h3 {
  line-height: 25px;
  max-width: 87%;
}

.news-card img {
  padding: 20px 0;
  width: 100%;
}

.news-card p {
  font-size: 16px;
  line-height: 22px;
}

.news-card:hover .link-on-article {
  opacity: 1;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.serfing-news svg {
  fill: #0079c2 !important;
}

.serfing-news .link-on-article {
  color: #0079c2;
}

.serfing-news button {
  background-color: #0079c2;
}

.serfing-news .all-article-link {
  color: #0079c2;
}

.cake-news svg {
  fill: #ff6c01 !important;
}

.cake-news .link-on-article {
  color: #ff6c01;
}

.cake-news button {
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  background-color: #ff6c01;
}

.cake-news .all-article-link {
  border-bottom: 1px solid #ff6c01;
  color: #ff6c01;
}

.faq-category {
  margin: 30px 0;
}

.faq-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq-header h2 {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq-header svg {
  margin-right: 8px;
}

.nav-item:not(:last-child) {
  margin-right: 16px;
}

.nav-pills .nav-link {
  font-size: 14px;
  font-weight: 700;
  color: #ef233c;
  padding: 9px 16px;
  border: 2px solid #ef233c;
}

.nav-pills .nav-link.active {
  background-color: #ef233c;
}

.question-card {
  margin-bottom: 20px;
}

.question-card .header-question-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 14px;
}

.question-card img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.question-card .username {
  margin-left: 16px;
  font-size: 16px;
}

.question-card .info-count:last-child {
  margin-right: 0;
}

.question-card .content-question-card {
  background-color: #f6f6f6;
  padding: 20px;
  position: relative;
}

.question-card .content-question-card::after {
  content: "";
  position: absolute;
  /* Абсолютное позиционирование */
  left: 10px;
  top: -20px;
  /* Положение треугольника */
  border: 10px solid transparent;
  border-bottom: 10px solid #f6f6f6;
}

.question-card .active-question {
  color: #fff;
  background-color: #ef233c;
}

.question-card .active-question::after {
  border-bottom: 10px solid #ef233c;
}

.question-card .question {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.another-question-button {
  border-radius: 5px;
  background-color: #fff;
  color: #ef233c;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  padding: 16px 0;
  border: 2px solid #ef233c;
}

.form {
  background-color: #ef233c;
  color: #fff;
  padding: 30px;
  margin: 40px 0 54px;
}

.white-form {
  background-color: #fff;
  color: #000;
  padding: 0;
}

.white-form button {
  background-color: #ef233c;
}

.white-form input,
.white-form textarea {
  border: 2px solid #ef233c !important;
}

.red {
  color: #ef233c;
}

.form-input {
  width: 100%;
  margin-top: 15px;
}

.form-input label {
  margin-bottom: 10px;
}

.form-input input,
.form-input textarea {
  padding: 19px 50px;
  width: 100%;
  border: none;
  border-radius: 5px;
}

.form-input input::-webkit-input-placeholder,
.form-input textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-input input:-ms-input-placeholder,
.form-input textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-input input::-ms-input-placeholder,
.form-input textarea::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-input input::placeholder,
.form-input textarea::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-input textarea {
  min-height: 126px;
}

.input-with-icon {
  position: relative;
}

.input-with-icon svg {
  position: absolute;
  margin: 22px 0 20px 22px;
}

.form-submit-button {
  border: 2px solid #ffffff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  color: #ffffff;
  width: 100%;
  padding: 16px;
  margin-top: 30px;
}

.form-submit-button svg {
  margin-right: 12px;
}

.big-search-input {
  border: 2px solid #ef233c;
  border-radius: 5px;
  width: 100%;
  max-width: none;
  margin: 54px 0;
  font-size: 16px;
  padding: 19px 20px;
}

.big-search-input svg {
  fill: #ef233c !important;
}

.about p,
.state p {
  margin: 25px 0;
}

.about ol,
.state ol {
  margin-left: 16px;
}

.about ol li,
.state ol li {
  padding-left: 12px;
  margin-bottom: 10px;
}

.about ol li::marker,
.state ol li::marker {
  color: #ef233c;
  font-weight: 700;
}

.about-list li::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 4px;
  background-color: #ef233c;
  display: inline-block;
  vertical-align: middle;
  margin-right: 19px;
}

.sidebar {
  width: 300px;
  margin-left: auto;
}

.left-sidebar {
  margin-left: 0;
}

.sidebar-heading {
  color: #ef233c;
  margin-top: 54px;
  margin-bottom: 6px;
}

.article-sidebar {
  margin-top: 20px;
  background-color: #f6f6f6;
}

.article-sidebar img {
  width: 300px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.article-sidebar-info {
  padding: 20px;
}

.article-heading {
  margin-bottom: 11px;
}

.article-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-count {
  margin-right: 20px;
}

.accordion-item {
  border: none;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion-button:not(.collapsed) {
  color: #000;
  background-color: #f6f6f6;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-button:focus {
  z-index: 3;
  border: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-item-sidebar:not(:last-child) {
  margin-bottom: 20px;
}

.accordion-header button {
  font-size: 18px;
  font-weight: 700;
  padding: 20px;
  background-color: #f6f6f6;
}

.accordion-header .accordion-button::after {
  background-image: url(../img/plus-in-circle.svg);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.accordion-header .accordion-button:not(.collapsed)::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.count-circle {
  font-size: 12px;
  font-weight: 700;
  width: 22px;
  height: 22px;
  color: #fff;
  margin-right: 12px;
  background-color: #ef233c;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
}

.accordion-body-sidebar {
  background: #ffffff;
  border: 2px solid #f6f6f6;
  padding: 20px;
}

.sidebar-nav-text {
  max-width: 90%;
}

.sidebar-nav-item:not(:last-child) {
  margin-bottom: 20px;
}

.nav-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item-link .count-circle {
  margin-right: 0;
}

.interview {
  margin-top: 54px;
  color: #fff;
  background-color: #ef233c;
  padding: 15px 20px;
}

.interview .interview-header h4 {
  font-weight: 700;
  margin-bottom: 10px;
}

.interview .interview-header hr {
  opacity: 1;
  margin: 0;
}

.interview .interview-body h4 {
  font-weight: 700;
  margin-top: 10px;
}

.interview .interview-body .interview-radio-group {
  margin: 20px auto;
}

.interview .interview-body .interview-radio-group p {
  font-size: 14px;
}

.interview .interview-body .interview-radio-group p input {
  margin-right: 9px;
  border: 1px solid #fff;
  background-color: transparent;
}

.interview .interview-body .interview-radio-group p input:disabled {
  margin-right: 20px;
}

.interview .interview-footer {
  text-align: center;
}

.interview .interview-footer .interview-submit {
  width: 100%;
  padding: 12px 0;
  text-align: center;
  background-color: transparent;
  border: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 9px;
}

.interview .interview-footer .results {
  margin-top: 9px;
  color: #fff;
  border-bottom: 1px solid #fff;
}

footer {
  margin-top: 54px;
  background-color: #f6f6f6;
}

footer .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 40px 0 0;
}

footer .society {
  margin: 40px 0 12px;
  width: 15%;
}

footer .all-rights {
  font-size: 14px;
}

footer .second-column {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 40px;
}

footer .third-column {
  margin-right: 30px;
}

footer h4 {
  margin-bottom: 18px;
}

footer .footer-list {
  display: inline-block;
  margin-right: 50px;
  vertical-align: top;
}

footer .footer-list .list-item {
  margin-bottom: 5px;
}

footer .footer-list .list-item a {
  font-size: 14px;
}

footer .footer-list .list-item:hover a {
  color: #ef233c;
}

footer .footer-list .list-item::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 4px;
  background-color: #ef233c;
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
}

footer .footer-copyright {
  padding: 30px 0 40px;
  font-size: 14px;
  line-height: 19px;
}

@media screen and (max-width: 992px) {
  .logo img {
    width: 170px;
  }
  .form {
    margin: 40px 0 54px !important;
  }
  .input-group {
    max-width: 150px;
    padding: 5px 15px 5px 5px;
  }
  .input-group .input-search {
    width: 75%;
  }
  .top-bar {
    padding-bottom: 16px;
  }
  .hamburger-menu {
    display: block;
  }
  .sidebar,
  .nav-items,
  header .society,
  .main-nav {
    display: none;
  }
  footer .footer-menu {
    display: block;
  }
  footer .second-column {
    border: none;
  }
  footer .society {
    margin: 20px;
    width: auto;
  }
  footer .first-column,
  footer .second-column,
  footer .third-column {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .main-nav {
    margin: 20px 0;
  }
  .main-nav .main-nav-item:not(:first-child) {
    padding: 0 15px;
  }
  .main-nav .main-nav-item:first-child {
    padding-left: 0;
    padding-right: 15px;
  }
  .menu__btn {
    left: 10px;
  }
  .faq-header {
    display: block;
  }
  .news-card {
    margin-bottom: 20px;
  }
  .slider-info {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
  }
  .nav {
    margin-top: 20px;
  }
  h1 {
    font-weight: 700;
    font-size: 24px;
  }
  h2 {
    font-weight: 700;
    font-size: 18px;
  }
  h2.recomended {
    font-size: 24px;
    margin-bottom: 45px;
  }
  h2.title-of-state {
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  h2.subtitle-of-state {
    margin: 15px 0;
  }
  h3 {
    font-weight: 700;
    font-size: 16px;
  }
  h4 {
    font-weight: 400;
    font-size: 14px;
  }
  p {
    font-size: 14px;
    line-height: 22px;
  }
  dl,
  ol,
  ul {
    margin-top: auto;
    margin-bottom: 0;
    padding-left: 0;
  }
  ul li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: #000000;
  }
}

@media screen and (max-width: 425px) {
  header .input-group {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */